* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    align-self: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

#grid,
.row {
    display: flex;
}

#grid {
    flex-direction: column;
    width: 900px;
    height: 900px;
    border: 1px solid;
}

.row {
    border-width: 0 0 1px 0;
}

.col {
    border-width: 0 1px 0 0;
}

.row,
.col {
    flex: 1;
    border-style: solid;
    border-color: grey;
}