* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container,
.row {
    display: flex;
}

#container {
    flex-direction: column;
    width: 900px;
    height: 900px;
    border: 10px solid red;
}

.row {
    border-width: 0 0 1px 0;
}

.col {
    border-width: 0 1px 0 0;
}

.row,
.col {
    flex: 1;
    border-style: solid;
    border-color: grey;
}